<%= form_for :session, :url => session_path do |form| %>
  <div class="field">
    <%= form.text_field :email, type: "email", placeholder: 'Email' %>
  </div>
  <div class="field">
    <%= form.password_field :password, placeholder: 'Password' %>
  </div>
  <div class="action">
    <%= form.submit "Sign in" %>
  </div>
<% end %>
