<div class='row'>
  <div class='span9'>
    <h2 data-role="discussion-name"><%= @discussion.name %></h2>
    <%= render @discussion.subject %>
  </div>

  <div class='span3'>
    <%= render 'chat' %>
  </div>
</div>
