<section class='view'>
  <h2 data-role="discussion-name"><%= @discussion.name %></h2>
  <%= link_to 'Update', edit_discussion_path(@discussion), class: 'button update' %>
  <%= render @discussion.subject %>
</section>

<section class='chat'>
  <%= render 'chat' %>
</section>
