<div class='row'>
  <div class='span9'>
    <%= render 'image_subjects/form' %>
    <%= render 'text_subjects/form' %>
  </div>

  <div class='span3'>
    <h2>Your Discussions</h2>
    <ul id="discussions">
      <% @discussions.each do |discussion| %>
        <li><%= link_to discussion.name, discussion %> <%= time_ago_in_words(discussion.created_at) %> ago</li>
      <% end %>
    </ul>
  </div>
</div>
