<section class='file'>
  <%= render 'image_subjects/form' %>
</section>
<section class="paste">
  <%= render 'text_subjects/form' %>
</section>

<section class='history'>
  <h2>Your Discussions</h2>
  <ul id="discussions">
    <% @discussions.each do |discussion| %>
      <li><%= link_to discussion.name, discussion %> <%= time_ago_in_words(discussion.created_at) %> ago</li>
    <% end %>
  </ul>
</section>