$gw-column: 65px;
$gw-gutter: 20px;

$fg-column: 65px;
$fg-gutter: 20px;
$fg-max-columns: 12;

$header-height: 50px;
$min-width: 1000px;

$font-size-base: 16px;
$font-size-large: 20px;
$font-size-huge: 30px;
