//************************************************************************//
// Form UI Library
//************************************************************************//

div.field {
  line-height: 0;
  margin-bottom: 12px;
}

input,
label,
select {
  color: $text-color;
  display: block;
  font-family: $global-face;
  font-size: $font-size-small;
}

label {
  margin-bottom: 5px;
}

textarea,
#{$all-text-inputs} {
  background-color: $bg-shade-2;
  border: none;
  @include box-sizing(border-box);
  color: $text-color;
  font-size: $font-size-small;
  margin-bottom: 12px;
  padding: 0.7em 0.45em;
  @include transition(border-color);
  width: 300px;

  &:last-child {
    margin-bottom: 0;
  }

  &:focus {
    background: $bg-shade-1;
    outline: none;
    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: $bg-shade-6;
    }
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder {
    color: $bg-shade-5;
  }
}

input[type="search"] {
  @include appearance(none);
  padding-left: 0;
}

input[type="color"] {
  background-color: transparent;
  border: 0;
  height: 3em;
  padding: 0;
  position: relative;
  width: 5em;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.65em;
}

select {
  width: 300px;

  &:hover {
    background: lighten($bg-button, 10%) url('/assets/select.png') no-repeat 280px 8px;
  }

  &:focus {
    background: lighten($bg-button, 10%) url('/assets/select.png') no-repeat 280px 8px;
    outline: none;
  }
}

button,
input[type="submit"],
a.button {
  color: $text-color;
  background: $bg-button;
  border: none;
  border-top: $top-color-border-width solid transparent;
  font-size: $font-size-base;
  margin-top: 24px;
  padding: 5px 16px 6px;

  &:hover {
    background: $bg-shade-1;
  }

  &:focus {
    background: $bg-shade-1;
    outline: none;
  }

}