div.dashboard-wrap {
  min-height: 100%;
  min-width: $min-width;
  @include position(fixed, $header-height 0px 0px 0px);

  div.section-wrap {
    h2 {
      color: $grey;
      margin-bottom: 12px;
    }
  } // div.section-wrap

  section.file {
    border-right: 3px solid $bg-shade-4;
    @include position(absolute, 0px 50% 0px 0px);

    div.section-wrap {
      margin: 0 auto;
      padding-top: 80px;
      width: 300px;

      div#file-drop {
        border: 5px dashed $bg-shade-2;
        @include box-sizing(border-box);
        height: 250px;
        padding: 10px;
        position: relative;
        text-align: center;
        @include transition(all .5s ease-in-out);

        div[data-placeholder=true] {
          height: 250px;
          background: transparent url('/assets/drop.png') no-repeat center 100px;

          &:before {
            color: $bg-shade-3;
            content: "Or drop one";
            font-size: $font-size-base-3;
            font-weight: bold;
            @include position(absolute, 40px 0px 0 0px );
            text-align: center;
          }
        }

        img {
          max-height: 100%;
          max-width: 100%;
          opacity: .5;
          @include transition(opacity .3s ease-in-out);

          &.file-upload-done {
            opacity: 1;
          }
        }

        &.hover {
          background-color: $bg-shade-1;
          border-color: $bg-shade-3;
        }

        &.dropped:before {
          display: none;
        }
      }
    }

    label.file {
      background: $bg-shade-2;
      cursor: pointer;
      overflow: hidden;
      padding: 17px 9px;
      position: relative;
      z-index: 1;

      &:hover {
        background: $bg-shade-1;
      }
    }

    input[type=file] {
      height: 100%;
      cursor: pointer;
      display: inline;
      opacity: 0;
      @include position(absolute, 0px 0px 0px 0px);
      width: auto;
      z-index: 2;
    }

    #image_subject_id {
      display: none;
    }
  }

  input[type=submit] {
    border-color: $bright-color-5;
  }

  section.paste {
    border-left: 2px solid $bg-shade-4;
    @include position(absolute, 0px 0px 0px 50%);

    div.section-wrap {
      margin: 0 auto;
      padding-top: 80px;
      width: 300px;
    }

    select {
      background: $bg-shade-2 url('/assets/select.png') no-repeat 280px 10px;
      border: none;
      border-radius: 0;
      color: $text-color;
      padding: 10px 9px 9px;
      position: relative;
      -webkit-appearance: none;
    }

    textarea {
      height: 250px;
    }

    input[type=submit] {
      border-color: $bright-color-4;
    }
  }

  div.or {
    background: $bg-color;
    margin-right: -35px;
    padding: 10px;
    @include position(absolute, 64px 50% 0 0);
    width: 50px;

    h3 {
      color: $bg-shade-4;
      font-size: $font-size-base-3;
      text-align: center;
    }
  }
} // div.dashboard-wrap

div#error-messages {
  @extend div.flash;
}
