body.dashboards {
  div.main-wrap {
    min-height: 100%;
    min-width: $min-width;
    @include position(fixed, $header-height 0px 0px 0px);

    div.section-wrap {

      h2 {
        color: $black;
        margin-bottom: 12px;
      }

      div.field {
        line-height: 0;
        margin-bottom: 12px;
      }
    } // div.section-wrap

    section.file {
      border-right: 1px solid $bg-shade-4;
      @include position(absolute, 0px 50% 0px 0px);

      div.drop {
        border: 5px dashed $bg-shade-6;
        border-radius: 37px;
        margin: 35px auto 0;
        padding: 40px 20px;
        @include transition(background-color 1s ease-in-out);
        width: 60%;

        &.hovered {
          background: $bg-shade-1;
        }

        div.section-wrap {
          margin: 0 auto;
          width: 300px;
        }

        label.file {
          background: $bg-shade-3;
          cursor: pointer;
          font-size: $font-size-small;
          overflow: hidden;
          padding: 17px 9px;
          position: relative;
          z-index: 1;

          &:hover {
            background: $bg-shade-1;
          }
        }

        input[type=file] {
          height: 100%;
          cursor: pointer;
          display: inline;
          opacity: 0;
          @include position(absolute, 0px 0px 0px 0px);
          width: auto;
          z-index: 2;
        }
      }

      input[type=submit] {
        border-color: $bright-color-5;
      }
    }

    section.paste {
      @include position(absolute, 0px 0px 0px 50%);

      div.section-wrap {
        margin: 0 auto;
        padding-top: 80px;
        width: 300px;
      }

      select {
        background: $bg-shade-3 url('/assets/select.png') no-repeat 280px 8px;
        border: none;
        border-radius: 0;
        color: $text-color;
        font-size: $font-size-small;
        padding: 8px 9px;
        position: relative;
        -webkit-appearance: none;
      }

      input[type=submit] {
        border-color: $bright-color-4;
      }
    }

    div.or {
      background: $bg-color;
      margin-right: -35px;
      padding: 10px;
      @include position(absolute, 64px 50% 0 0);
      width: 50px;

      h3 {
        color: $bg-shade-4;
        font-size: 30px;
        text-align: center;
      }
    }
  } // div.main-wrap
} // body.dashboards