body.discussions {
  div.main-wrap {
    h2 {
      margin-bottom: 10px;
    }
  }
}

body.discussions-index {
  div.main-wrap {
    padding: 20px;

    ul#discussions {
      li {
        background: $bg-shade-4;
        @include clearfix;
        font-size: 18px;
        list-style: none;
        margin-bottom: 20px;
        $time-width: 200px;

        time {
          color: $black;
          float: left;
          padding: 10px;
          text-align: right;
          width: $time-width;
        }

        a {
          background: $bg-shade-2;
          border-left: $side-color-border-width solid $bg-shade-7;
          color: $black;
          display: block;
          padding: 10px;
          margin-left: $time-width + 20px;
          min-height: 100%;
          text-decoration: none;

          &:hover {
            background: $bg-shade-3;
          }
        }

        &:nth-child(1) a { border-color: $bright-color-1; }
        &:nth-child(2) a { border-color: $bright-color-2; }
        &:nth-child(3) a { border-color: $bright-color-3; }
        &:nth-child(4) a { border-color: $bright-color-4; }
        &:nth-child(5) a { border-color: $bright-color-5; }
        &:nth-child(6) a { border-color: $bright-color-6; }
        &:nth-child(7) a { border-color: $bright-color-7; }
      }
    }
  }
} // body.discussions-index

body.discussions-show {
  div.main-wrap {
    min-width: $min-width;
    @include position(fixed, $header-height 0px 0px 0px);

    section.view {
      background: $bg-shade-8;
      @include box-sizing(border-box);
      color: $bg-shade-2;
      padding: 20px flex-gutter();
      @include position(absolute, 0px flex-grid(8) 0px 0px);
      width: flex-grid(8);

      h2 {
        color: $bg-shade-2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p.share {
        a {
          color: $bg-shade-2;
        }
      }

      pre {
        $adjusted-flex-gutter: flex-gutter() * 1.5; // to compensate for the fact that it's inside a flex-grid(8) box
        margin: 20px 0 0 0;
        overflow: scroll;
        @include position(absolute, 70px $adjusted-flex-gutter 20px $adjusted-flex-gutter);

        code {
          font-size: $font-size-med;
          margin: 0;
          padding: 20px;
        }
      }

      img {
        max-width: 100% - flex-gutter();
      }
    }

    section.chat {
      background: $bg-shade-1;
      @include position(absolute, 0px 0px 0px flex-grid(8));

      div#chat-container {
        $textarea-height: 120px;

        @include position(absolute, 0px 0px 0px 0px);
        overflow: scroll;

        ul#messages {
          list-style: none;
          margin: 0;
          padding: 10px 10px 10px 0;
          padding-bottom: $textarea-height + 10px;

          li {
            $name-width: 90px;
            $padding: 3px;

            border-radius: 4px;
            clear: both;
            color: $black;
            margin: 3px 0 0 0;
            padding: 1px 5px 1px 0px;

            strong {
              display: block;
              float: left;
              font-size: $font-size-small;
              overflow: hidden;
              padding: $padding;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: $name-width;
            }

            .user-number-1 { color: $bright-color-1; }
            .user-number-2 { color: $bright-color-2; }
            .user-number-3 { color: $bright-color-3; }
            .user-number-4 { color: $bright-color-4; }
            .user-number-5 { color: $bright-color-5; }
            .user-number-6 { color: $bright-color-6; }
            .user-number-7 { color: $bright-color-7; }

            span {
              display: block;
              margin-left: $name-width + 10px;
              padding-top: $padding;
            }
          }
        }

        form {
          line-height: 0;
          @include position(fixed, 0 0px 0px flex-grid(8));

          @media screen and (max-width: 1000px) {
            left: 660px;
          }

          textarea {
            background: $bg-shade-2;
            border-top: $side-color-border-width solid $bright-color-1;
            height: $textarea-height;
            margin: 0;
            max-height: $textarea-height;
            max-width: 100%;
            padding: 10px 20px 10px 10px;
            width: 100%;
          }
        }
      }
    }
  }
}
