body {
  min-width: $min-width;

  a,
  a:link,
  a:visited {
    color: #333;
  }
}

header {
  nav {
    background: #eee;
    padding: 10px;

    div.nav-wrap {
      position: relative;
      z-index: 10;

      a {
        text-decoration: none;

        &.brand {
          color: #555;
          font-size: $font-size-huge;
          font-style: italic;
          font-weight: bold;
          letter-spacing: -.05em;
        }
      }

      ul.user {
        @include position(absolute, 3px 15px 0 0);

        a.user-menu {
          display: block;
          min-width: 130px;
          padding-right: 17px;
          position: relative;

          &::before {
            border-color: #333 transparent transparent transparent;
            border-style: solid;
            border-width: 4px;
            content: "";
            height: 0;
            @include position(absolute, 8px 5px 0 0);
            width: 0;
          }
        }

        > li {
          display: inline-block;
          margin-left: 10px;

          > a {
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 2px 5px;
            @include transition(all 0.2s ease-in-out);

            &:hover {
              border-color: #bbb;
              @include linear-gradient(white, #eee);
            }
          }
        }

        ul.menu-content {
          background: #ddd;
          @include box-shadow(1px 1px 5px rgba(0,0,0,0.5));
          display: none;
          margin: 0;
          @include position(absolute, 29px 0px 0 0);

          li a {
            display: block;
            padding: 5px 10px;

            &:hover {
              background: white;
            }
          }
        }
      } // ul.user
    } // div.nav-wrap
  } // nav
} // header