*::selection {
  background: rgba(0,0,0,0.2);
}

html, body {
  height: 100%;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $global-face;
  min-width: $min-width;

  a,
  a:link,
  a:visited {
    color: $bg-shade-7;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $global-face;
    font-weight: 600;
  }

  ul {
    margin: 0;
  }

  img {
    margin: 0;
  }

  div.flash {
    background: $bg-shade-1;
    border: none;
    border-top: $top-color-border-width solid $bright-color-1;
    border-radius: 0;
    color: $black;
    margin-bottom: 50px;
    padding: 5px;

    h2 {
      font-size: $font-size-small;
    }

    ul li {
      list-style: none;
    }
  }

  pre {
    margin: 0;
  }
}

header {
  nav {
    background: $bg-nav;
    height: $header-height;

    div.nav-wrap {
      position: relative;
      z-index: 10;

      a {
        text-decoration: none;

        &.brand {
          background: transparent url('logo-small.png') no-repeat;
          color: $bg-shade-7;
          font-size: $font-size-base-2;
          font-style: italic;
          font-weight: bold;
          letter-spacing: -.05em;
          @include position(absolute, 8px 0 0 20px);
          text-indent: -500px;
          width: 153px;
        }
      }

      ul.user {
        @include position(absolute, 0px 15px 0 0);

        a.user-menu {
          display: inline-block;
          padding-right: 27px;
          position: relative;

          &::before {
            border-color: $bg-shade-7 transparent transparent transparent;
            border-style: solid;
            border-width: 4px;
            content: "";
            height: 0;
            @include position(absolute, 23px 15px 0 0);
            width: 0;
          }
        }

        > li {
          display: inline-block;
          line-height: inherit;
          position: relative;

          > a {
            display: block;
            padding: 18px 15px;

            &:hover {
              background: $bg-shade-1;
            }
          }
        }

        ul.menu-content {
          display: none;
          margin: 0;
          @include position(absolute, $header-height 0px 0 0px);

          li {
            background: $bg-shade-3;

            a {
              border-left: $top-color-border-width solid transparent;
              display: block;
              padding: 8px 15px;
              text-align: center;

              &:hover {
                background: $bg-shade-1;
                color: $black;
              }

              &.sign-out {
                border-color: $bright-color-1;
              }
            }
          }
        }
      } // ul.user
    } // div.nav-wrap
  } // nav
} // header
