$top-space: 200px;

body.pages-show {
  div.main-wrap {
    margin-top: $top-space;

    h1 {
      color: $bg-shade-7;
      font-size: 60px;
      text-align: center;
    }

    p {
      color: $bg-shade-6;
      font-style: italic;
      text-align: center;
    }

    section.call-to-action {
      margin-top: 100px;
      text-align: center;

      a {
        font-size: $font-size-base;
        margin-left: 20px;
        text-decoration: none;

        &:first-child {
          margin-left: 0;
        }

        &.sign-up {
          border-color: $bright-color-4;
        }

        &.sign-in {
          border-color: $bright-color-5;
        }
      }
    }
  }
}

body.clearance-users-new {
  input[type=submit] {
    border-color: $bright-color-4;
  }
}

body.clearance-sessions-new {
  input[type=submit] {
    border-color: $bright-color-5;
  }
}

body.clearance-passwords-new {
  input[type=submit] {
    border-color: $bright-color-7;
  }
}

body.clearance-sessions-new, body.clearance-users-new, body.clearance-passwords-new {
  background-color: $bg-color;

  div.main-wrap {

    margin: $top-space auto 0;
    padding: 20px;
    width: 300px;

    h2 {
      color: $bg-shade-7;
      margin-bottom: 20px;
    }

    ul {
      margin-top: 20px;

      li {
        display: inline;
        list-style: none;
        margin-right: 10px;

        a {
          border-radius: 3px;
          color: $bg-shade-7;

          &:hover {
            color: $grey;
          }
        }
      }
    }

    p {
      color: $bg-shade-6;
      text-align: left;
      margin-bottom: 20px;
    }
  } // div.main-wrap
}